numpy
scipy
torch
torchvision
lightning
segmentation-models-pytorch
matplotlib
scipy
wandb
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
omegaconf
einops
kornia
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
openai
opencv-python
invisible-watermark
pandas
scikit-image